---
import Layout from '../layouts/BlogPost.astro';
import coolImg from "../assets/placeholder-hero.jpg";
---

<Layout
	title="About Me"
	description="Short bio"
	pubDate={new Date('July 06 2023')}
	updatedDate={new Date('July 06 2023')}
	heroImage={coolImg}
>
	<p>
		Todo
	</p>
</Layout>
