---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BannerImage from '../components/BannerImage.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import workspaceImg from "../assets/workspace-garage.jpg";
import { Image } from "astro:assets";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<BannerImage bannerImg={ workspaceImg } />
			<h1>{SITE_DESCRIPTION}</h1>
		</main>
		<Footer />
	</body>
</html>
